{{ define "main" }}
    <header>
        <h3 class="section-title">{{ .Title }}</h3>
    </header>

    <section class="article-list--compact">
        {{ $posts := where .Site.RegularPages "Section" "posts" }}
        {{ range $posts.ByDate.Reverse }}
            <article>
                <a href="{{ .RelPermalink }}">
                    <div class="article-details">
                        <h2 class="article-title">{{ .Title }}</h2>
                        <footer class="article-meta">
                            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2006-01-02" }}</time>
                        </footer>
                    </div>
                </a>
            </article>
        {{ end }}
    </section>
{{ end }}